* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden !important;
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4747473b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 21%, 0.541);
}
